#circle {
	width: 100px;
	height: 100px;
	background-color: purple;
	border-radius: 50px; 
	margin: 5% 45% 0 45%;
}
#shape {
	width: 50px;
	height: 50px;
	background-color: red;
	position: relative;
	justify-content: center;
}
button {
	width: 150px;
	height: 50px;
}
#colorbtn {
	position: relative;
	left: 43%;
	margin: 5% 0 0 0;
}

#shapebtn {
	position: relative;
	left: 43%;
	margin: 5% 0 0 0;
}